<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Описание книги</title>
        <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
        <link th:href="@{css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:insert="/blocks/general.html :: header0">
            <!--    <a href="index.html"><img src="img/logo.png" alt="logo" width="100px" height="100px"></a>-->
            <!--    <nav>-->
            <!--        <a href="enter.html">Вход</a>-->
            <!--        <a href="registration.html">Регистрация</a>-->
            <!--    </nav>-->
        </div>

        <div class="wrapper">
            <div class="box1">
                <div th:each="el : ${books}" class="book_card">
                    <img th:src="${el.coverLink}" height="300px" width="200px">
                    <p th:text="${el.bookName}"/>
                    <div>
                        <a th:href="'/user/favorites/add/' + ${el.id}"> добавить в избранное</a><br>
                        <a th:href="'/user/favorites/remove/' + ${el.id}"> убрать из избранного</a><br>
                        <a th:href="${el.shopLink}"> Перейти в магазин</a><br>
                    </div>
                </div>
            </div>
            <div class="box2">
                <div th:each="el : ${books}" class="book_description">
                    <p th:text="${el.bookDesc}" />
                </div>
            </div>

            <div class="box3">

            </div>

         </div>

    </body>
</html>