<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Библиотека</title>
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <!--    <link rel="stylesheet" href="elib\src\main\resources\static\style.css">-->
        <link th:href="@{style.css}" rel="stylesheet" />
    </head>
<body>
<div th:insert="blocks/general.html :: header0">
<!--    <a href="index.html"><img src="img/logo.png" alt="logo" width="100px" height="100px"></a>-->
<!--    <nav>-->
<!--        <a href="enter.html">Вход</a>-->
<!--        <a href="registration.html">Регистрация</a>-->
<!--    </nav>-->
</div>



<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Разлогиниться"/>
    </form>
</div>

<a th:href="@{/user}">Список пользователей (ADMIN only)</a><br>

<a th:href="@{/user/profile}">Профиль</a>

<div class="book_container">
    <div th:each="el : ${books}" class="book_card">
        <a th:href="'/page/' + ${el.id}"><img th:src="${el.coverLink}" onerror="this.src='img/no-cover.gif'" height="300px" width="200px"></a>
        <p th:text="${el.bookName}"/>
    </div>

</div>

</body>
</html>