<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Библиотека</title>
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <!--    <link rel="stylesheet" href="elib\src\main\resources\static\style.css">-->
        <link th:href="@{style.css}" rel="stylesheet" />
    </head>
    <body>
        <header th:insert="blocks/general.html :: header0">
            <!--    <a href="index.html"><img src="img/logo.png" alt="logo" width="100px" height="100px"></a>-->
            <!--    <nav>-->
            <!--        <a href="enter.html">Вход</a>-->
            <!--        <a href="registration.html">Регистрация</a>-->
            <!--    </nav>-->
        </header>
        <form action="form.php" method="post">
                <div class="registration_card">
                  <h2>Форма регистрации</h2>
                  <div>
                    <label for="name">Имя пользователя</label>
                    <input type="text" name="username" required placeholder="Введите имя пользователя...">
                  </div>
                  <br>
                  <div>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" required placeholder="Введите эл. почту...">
                  </div>
                  <br>
                  <div>
                    <label for="password">Пароль</label>
                    <input type="text" name="password" required placeholder="Введите пароль...">
                  </div>
                  <br>
                  <div>
                    <label for="confpassword">Подтвердите пароль</label>
                    <input type="text" name="confpassword" required placeholder="Снова введите пароль...">
                  </div>
                  <br>
                  <button type="submit">Отправить</button> 
                </div>
                <br>
        </form>
    </body>
</html>